---
import BaseLayout from "@/layouts/BaseLayout.astro";
import BookVolume from "@/components/BookVolume.astro";
import { getCollection } from "astro:content";

const volumes = await getCollection('volumes');
---

<BaseLayout title="Главная">
  <div class="text-center text-hedgehog-5">
    <div class="rounded-lg bg-hedgehog-1">
      <h1 class="text-2xl font-bold">
        Аудиокнига
        <br />
        Реинкарнация безработного
      </h1>
      <h2 class="text-xl font-semibold">Автор: HEDGEHOG.INC</h2>
    </div>

    <div id="bookVolumes" class="mt-8 flex flex-wrap justify-center">
      {
        volumes.map((volume) => (
          <BookVolume
            title={volume.data.title}
            volumeId={volume.data.id}
          />
        ))
      }
    </div>
  </div>
</BaseLayout>
