{% extends "base.html" %}
{% import "./utils/audioplayer.html" as audioplayer %}

{% block title %}Главная{% endblock %}
{% block head %}
<link href="{{ url_for('static', path='/css/index.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="content">
    <div class="books">
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/1.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/2.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/3.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/4.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/5.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/6.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/1.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/2.png') }}" />
            <a></a>
        </div>
        <div class="book">
            <img src="{{ url_for('static', path='/images/books/3.png') }}" />
            <a></a>
        </div>
    </div>
    {% endblock %}