{% extends "base.html" %}
{% import "./utils/audioplayer.html" as audioplayer with context %}

{% block title %}Главная{% endblock %}
{% block head %}
<link href="{{ url_for('static', path='/css/tome.css') }}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="content">
    <div class="tome-info">
        <img class="tome-img" src="{{ url_for('static', path='/images/tomes/') }}{{ tome.id }}.png">
        <h3 class="tome-name">{{ tome.name }}</h3>
        <p class="tome-desc">Описание 12312321 3123123 1321 3 13 123 213 123 123 123 213 123 1232123232</p>
    </div>
    <div class="audioplayer-container">
        {{ audioplayer.init() }}
    </div>
</div>
{% endblock %}